*{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    
}

.main {
    background: linear-gradient(45deg, rgb(3, 148, 148), rgb(3, 105, 92));
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.password {
  max-width: 250px;
  padding: 8px 30px;
  margin-top: 30px;
  font-size: 30px;
  outline: none;
}

.password:hover{
  background-color: rgb(207, 204, 204);
}



.main-form {
  background-color: white;
  padding: 30px 20px 40px;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

input {
  background: lightgray;
  color: rgb(67, 68, 68);
  border-style: none;
  border-radius: 20px;
}


.bounce {
  
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}

/* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-10px);
    timing-function: ease-in;
    background-color: rgba(255, 68, 0, 0.671);
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
    
  }
}

#home, #login{
  padding: 8px 20px;
  font-size: 25px;
  background-color: teal;
  color: white;
  outline: none;
  margin: 0;
  margin-top: 10px;
}
#home:hover, #login:hover{
  background-color: rgb(4, 68, 68);
  color: rgb(255, 255, 255);
}

::placeholder{
  text-align: center;
}